* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

h1 {
    font-size: 1.2rem;
}

.center {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #309CBD;
    color: whitesmoke;
}

.board {
    margin-top: 2rem;
}

.board .stories {
    gap: 3rem;
}
.container {
    flex-direction: column;
    width: 250px;
    min-height: 500px;
    border: 1px solid black;
    padding: .5rem;
    color: 	#555555;
  }

  .draggable {
    cursor: move;
    text-align: center;
    min-height: 3rem;
    /* background-color: #77BCDE; */
    margin-bottom: 0.5rem;
    
  }

  .draggable.dragging {
    opacity: .5;
  }



  .storyTitle {
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  #todo {
    background-color: #BEDCFE;
  }

  #inProgress {
    background-color: #A2CDD2;
  }

  #test {
    background-color: #97C7C2;
  }

  #done {
    background-color: #A9D1DD;
  }














/* form */
form {
    margin-bottom: 0.05;
    background-color: white;
}

.textAndIcon {
    display: flex;
    flex-direction: column;
    /* background-color: #77BCDE; */
    justify-content: start;
    align-items: center;
}



.icon {
    margin: 4px;
    cursor: pointer;
    width: 1rem;
}


textarea {
    background-color: #77BCDE;
    resize: none;
    min-height: 3rem;
    text-align: center;
    width: 100%;
    color: #555555;
    font-size: 1rem;
}

.text-edit {
    outline: 1px solid black;
}

.colors {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.color {
    border: 1px solid black;
}






.btn {
    cursor: pointer;
    padding: 1rem;
}

.btn-createStory {
    color: #555555;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.btn-createStory:hover {
    opacity: 0.5;
}